{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <h2 flex=true class="md-toolbar-tools">
      {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
        {{paper-icon icon="menu"}}
      {{/paper-sidenav-toggle}}
      <!--<img src="/images/emberjs-logo.png" height="50">-->
      <strong>{{model.name}}</strong>
    </h2>
    {{#link-to "feeds.new" class="new"}}
      {{#paper-button classNames="md-icon"}}
        {{paper-icon icon="add-circle" size="lg"}}
      {{/paper-button}}
    {{/link-to}}
  </div>
{{/paper-toolbar}}

{{#paper-content}}
  <div class="container">
    {{#if model.isRssfeed}}
      {{#paper-list}}
        <p><i>Total feeds: {{model.feedItems.length}}</i></p>
        <p>Today's date: {{current-date}}</p>
          {{#each model.feedItems as |feed index|}}
            {{#paper-item}}
            {{#paper-tile-left}}
              <h1 class="feed-index">{{increment-index index}}</h1>
              <!--<img src="http://blog.eacomm.com/wp-content/uploads/2011/03/android-logo.jpg" class="face">-->
            {{/paper-tile-left}}
            {{#paper-tile-content}}
<!--
              <a target="_blank" {{bind-attr href="feed.link"}}>
                <h3>{{feed.title}}</h3>
              </a>
-->
              {{#link-to 'feedItem.index' feed}}{{feed.title}}{{/link-to}}
              <h4>{{markdown-to-html markdown=feed.bodySnippet}}</h4>
              <!--<p>{{feed.bodySnippet}}</p>-->
              <p>{{format-date feed.publishedDate}}</p>
            {{/paper-tile-content}}
           {{/paper-item}}
          {{/each}}
      {{/paper-list}}
        {{else}}
            <iframe id="xxx" {{bind-attr src="this.url"}} height="10000" width="900" frameBorder="0" scrolling="no"></iframe>
    {{/if}}
  </div>
{{/paper-content}}
