{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <h2 flex=true class="md-toolbar-tools">
      {{#paper-sidenav-toggle class="menu-sidenav-toggle"}}
        {{paper-icon icon="menu"}}
      {{/paper-sidenav-toggle}}
      <img src="/images/emberjs-logo.png" height="50">
      <strong>{{this.name}}</strong>
    </h2>
    {{#link-to "feeds.new" class="new"}}
      {{#paper-button classNames="md-icon"}}
        {{paper-icon icon="add-circle" size="lg"}}
      {{/paper-button}}
    {{/link-to}}
  </div>
{{/paper-toolbar}}
<div class="container">
  {{#paper-list}}
    <p><i>Total feeds: {{this.feedItems.length}}</i></p>
    <p>Today's date: {{current-date}}</p>
    {{#each feed in this.feedItems}}
      <a target="_blank" {{bind-attr href="feed.link"}}>
        <h4>{{feed.title}}</h4>
      </a>
      <!--<p>{{markdown-to-html markdown=feed.bodySnippet}}</p>-->
      <p>{{feed.bodySnippet}}</p>
      <p>{{format-date feed.publishedDate}}</p>
      <!--<iframe {{bind-attr src="feed.link"}}></iframe>-->
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
</div>
