<!-- <h1>{{this.id}}</h1> -->
<h2>{{this.name}}</h2>
<!-- <h2>{{this.url}}</h2>-->
<span><i>Total feed: {{this.feedItems.length}}</i></span>

{{#paper-list}}
  {{#each feed in this.feedItems}}
    <a target="_blank" {{bind-attr href="feed.link"}}>
      <h4>{{feed.title}}</h4>
    </a>
    <p>{{feed.bodySnippet}}</p>
    <p>{{feed.publishedDate}}</p>
    {{paper-divider}}
  {{/each}}
{{/paper-list}}
